*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: marioFont;
    src: url("./font/SuperMario256.ttf")
}

#container {
    display: grid;
    grid-template-rows: 10vh 50vh 30vh 75px;
}

#title {
    display: flex;
    font-family: marioFont;
    font-size: 45px;
    background-color: yellow;
    color: red;
    align-items: center;
    justify-content: center;
}

#lBox {
    background-color: red;
    background-image: url("https://coursework.vschool.io/content/images/2015/07/luigi.png");
    background-position: center;
    background-repeat: no-repeat;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: red;
    align-items: center;
    text-align: center;
    justify-content: center;

}

h1 {
    font-family: marioFont;
    padding-top: 60px;
}

#footer {
    background-color: yellow; 
    display: flex;
    justify-content: flex-end; 
    
}

#footer #footer-image{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    background-image: url("https://coursework.vschool.io/content/images/2015/07/greenmushroom.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
}

p {
    font-family: marioFont;
    font-weight: 800;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    
}

